{block name="extra-panel" append}
    <table class="lmsbox" id="lms-ui-welcome-box-enea">
        <thead>
            <tr onclick="showOrHide('welcome_enea');">
                <th class="text-center bold">
                    <a href="{$enea_power_outages.link}"><i class="fas fa-bolt"></i> {$enea_power_outages.channel.title}</a>
                </th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$enea_power_outages.channel.item item=outage key=key}
                {if is_numeric($key)}
                    <tr class="highlight{if strpos($outage.title, " WYŁĄCZENIE ODWOŁANE!") !==false} blend{/if}">
                        <td style="padding:1em;">
                            <a class="bold" href="{$outage.link}">{$outage.title}</a> &nbsp; <span class="blend" style="float:right;">{trans("publication date")}: {$outage.pubDate}</span>
                            <hr class="blendbg">
                            {$outage.description}
                        </td>
                    </tr>
                {else}
                    {$outage=$enea_power_outages.channel.item}
                    <tr class="highlight{if strpos($outage.title, " WYŁĄCZENIE ODWOŁANE!") !==false} blend{/if}">
                        <td style="padding:1em;">
                            <a class="bold" href="{$outage.link}">{$outage.title}</a> &nbsp; <span class="blend" style="float:right;">{trans("publication date")}: {$outage.pubDate}</span>
                            <hr class="blendbg">
                            {$outage.description}
                        </td>
                    </tr>
                    {break}
                {/if}
            {/foreach}
        </tbody>
    </table>
{/block}
